* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ФОН ДЛЯ ВСЕГО САЙТА (ПОСЛЕ HERO БУДЕТ ВИДЕН) */
body {
  background: url("background.jpg") center/cover no-repeat fixed;
}

/* ===== МЕНЮ ===== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #819bc5;
  z-index: 1000;
}

/* ЛОГО БЕЗ ОТСТУПОВ */
.logo {
  height: 100px;
  display: block;
}

/* ССЫЛКИ */
.menu a {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline;
}

/* ===== ПЕРВЫЙ ЭКРАН (ФОТО) ===== */
.hero {
  height: 100vh;
  background: url("logo1.jpg") center/cover no-repeat;
  margin-top: 100px; /* чтобы не залезало под меню */
}

/* ===== СЕКЦИЯ О НАС ===== */
.about {
  padding: 100px 50px;
}

/* ЗАГОЛОВОК СВЕРХУ */
.about-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

/* КАРТОЧКА */
.about-card {
  max-width: 1200px;
  margin: auto;
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  border-radius: 20px;
}

/* ФОТО СЛЕВА */
.about-image {
  width: 50%;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* ТЕКСТ СПРАВА */
.about-text {
  font-family: "Roboto Flex", sans-serif;
  width: 50%;
  padding: 60px;
}

.about-text p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #000;
}

/* ===== КОНТЕНТ ДАЛЬШЕ ===== */
.content {
  padding: 100px 50px;
  color: white;
}